
<header
class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30">
<nav class="navbar container">
  <div class="flex justify-between items-center">
    <a class="navbar-brand block" href="{{ site.Home.RelPermalink }}">
      {{ partial "logo" }}
    </a>
    </div>
      <!-- navigation btn -->
      {{ if site.Params.navigation_button.enable }}
        <a
          href="{{ site.Params.navigation_button.link | relLangURL }}"
          class="btn btn-primary">  {{ site.Params.navigation_button.label }}
        </a>
      {{ end }}
    </div>
  </nav>
</header>
